<div class="footer">
    <div class="container">
        <div class="footer__container">
            <div class="footer__cards">
                <div class="footer__title">
                    <p>about <span class="main__words_title">us</span></p>
                </div>
                <div class="footer__article">
                    <div class="footer__img">
                        <img src="img/Image_holder.png">
                    </div>
                    <div class="footer__text">
                        <p>Sed erat justo, dapibus sit amet dictum sit amet, condimentum vel erat. Maecenas mollis.
                            tincidunt sollicitudin</p>
                    </div>
                    &nbsp;
                    <div class="footer__text">
                        <p>Duis suscipit venenatis sapien, et dictum ligula dignissim non. Nunc sapien justo, faucibus
                            commodo ullamcorper nec, tempor vitae quam.<span class="main__words">Read more</span></p>
                    </div>
                </div>
            </div>
            <div class="footer__cards">
                <div class="footer__title">
                    <p>from our <span class="main__words_title">blog</span></p>
                </div>
                <div class="footer__article">
                    <div class="footer__img">
                        <img src="img/Image_holder.png">
                    </div>
                    <div class="footer__text">
                        <p>Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum, sollicitudin ante nec...
                        </p>
                    </div>
                </div>
                &nbsp;
                <div class="footer__article">
                    <div class="footer__img">
                        <img src="img/Image_holder.png">
                    </div>
                    <div class="footer__text">
                        <p>Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Morbi tum... orci li</p>
                    </div>
                </div>
            </div>
            <div class="footer__cards">
                <div class="footer__title_secret">
                    <p>aaaaaaaa</p>
                </div>
                <div class="footer__article">
                    <div class="footer__img">
                        <img src="img/Image_holder.png">
                    </div>
                    <div class="footer__text">
                        <p>Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum, sollicitudin ante nec...
                        </p>
                    </div>
                </div>
                &nbsp;
                <div class="footer__article">
                    <div class="footer__img">
                        <img src="img/Image_holder.png">
                    </div>
                    <div class="footer__text">
                        <p>Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Morbi tum... orci li</p>
                    </div>
                </div>
            </div>
            <div class="footer__cards">
                <div class="footer__title">our <span class="main__words_title">location</span></div>
                <div class="footer__text">
                    <p>Suspendisse ullamcorper diam ex.</p>
                    &nbsp;
                    <p>154 Street Name 242</p>
                    <p>Cityname, Country</p>
                    <p><span class="main__words">info@domainame.com</span></p>
                </div>
                <div class="footer__imgwrapper">
                    <img src="img/Twitter.png" class="footer__logo"><img src="img/Facebook.png"
                        class="footer__logo"><img src="img/Google+.png" class="footer__logo"><img
                        src="img/Pinterest.png" class="footer__logo">
                </div>
            </div>
        </div>
    </div>
</div>