<div class="header">
    <div class="container">
        <div class="header__container">
        <div class="nav">
            <div class="header__logo">
                <img src="img/Logo.png" alt="logo" class="header__img">
            </div>
            <div class="header__wrapper">
            <div class="navitems">
                <p class="header__navitems_titles">about</p>
            </div>
            <div class="navitems">
                <p class="header__navitems_titles">products</p>
            </div>
            <div class="navitems">
                <p class="header__navitems_titles">blog</p>
            </div>
            <div class="navitems">
                <p class="header__navitems_titles">contact</p>
            </div>
            </div>
        </div>
        <div class="header__title">
            <p>suspendisse elementum</p>
        </div>
        <div class="header__article">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aliquid labore natus impedit vel magni quibusdam atque. Accusamus blanditiis illum laborum quo libero harum numquam velit magni excepturi molestiae? Numquam!</p>
        </div>
        <button class="header__btn">Learn more</button>
        </div>
    </div>
</div>