<div class="main">
    <div class="main__row1">
        <div class="container">
            <div class="main__container1">
                <div class="main__articles">
                    <div class="main__titles">
                        <p>we are your the <span class="main__words_title">best</span> option</p>
                    </div>
                    &nbsp;
                    <div class="text">
                        <p>Aliquam nibh arcu, pharetra et ipsum eget, finibus suscipit odio. Morbi ornare
                            posuere rutrum. Praesent mauris nunc, blandit a enim in, faucibus laoreet nisi. Curabitur
                            volutpat elit sit amet molestie eleifend. Sed rutrum odio nec neque rhoncus dictum. Donec
                            vitae
                            <span class="main__words">sollicitudin</span> nunc.
                        </p>
                    </div>
                    <div>
                        <p>Pellentesque sed libero quam.</p>
                    </div>
                </div>
                <div class="main__articles">
                    <div class="main__titles">
                        <p><span class="main__words_title">clients</span> choose us!</p>
                    </div>
                    &nbsp;
                    <div class="text">
                        <p>Maecenas ut sem ac tellus tempus hendrerit. Curabitur suscipit lorem in turpis
                            rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Etiam
                            venenatis
                            purus turpis, eu semper neque placerat ut.</p>
                    </div>
                    &nbsp;
                    <div class="main__text">
                        <p>Curabitur suscipit ligula at metus malesuada iaculis.<span class="main__words">Learn
                                more</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main__row2">
        <div class="container">
            <div class="main__container2">
                <div class="main__title2">
                    <p>how can we help?</p>
                </div>
                <div class="cardwrapper">
                    <div class="main__cards">
                        <div class="main__img2"><img src="img/DOWNLOAD.png"></div>
                        <div class="main__text2">
                            <p>Cras in interdum nisi, vitae blandit lectus. In imperdiet dolor eu justo rhoncus, id
                                auctor lacus. aliquet.Vivamus id tellus massa. Proin pellentesque volutpat enim, a
                                ultrices turpis euismod ut.</p>
                        </div>
                    </div>
                    <div class="main__cards">
                        <div class="main__img2"><img src="img/SIGNS.png"></div>
                        <div class="main__text2">
                            <p>Duis vitae lorem nulla. Aenean lacinia purus neque, eu pulvinar ex placerat nec. Nam
                                elementum.</p>
                        </div>
                    </div>
                    <div class="main__cards">
                        <div class="main__img2"><img src="img/CADDY_FULL.png"></div>
                        <div class="main__text2">
                            <P>Nunc lectus consectetur nulla, quis dictum augue leo eu mauris. Nulla pretium felis non
                                dui ultrices.</P>
                        </div>
                    </div>
                    <div class="main__cards">
                        <div class="main__img2"><img src="img/BATTERY_2.png"></div>
                        <div class="main__text2">
                            <p>Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Mori dictum orci
                                ligula, non aliquet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main__row3">
        <div class="container">
        <div class="main__container1 main__container3">
            <div class="main__title3">
                <div class="main__titles title3">our <span class="main__words_title">projects</span></div>
                <div class="arrowes">
                    <img src="img/Prev_(normal).png">
                    <img src="img/Next_(hover).png">
                </div>
            </div>
            <div class="cardwrapper">
                <div class="main__cards main__cards3">
                    <div class="main__img3">
                        <img src="img/projectimg.png"class="projectpict">
                        <div class="main__text3">
                            <p>Duis suscipit venenatis</p>
                        </div>
                    </div>
                </div>
                <div class="main__cards main__cards3">
                    <div class="main__img3">
                        <img src="img/projectimg.png"class="projectpict">
                        <div class="main__text3">
                            <p>Ligula Dignissim</p>
                        </div>
                    </div>
                </div>
                <div class="main__cards main__cards3">
                    <div class="main__img3">
                        <img src="img/projectimg.png" class="projectpict">
                        <div class="main__text3">
                            <p>Dapibus sit amet</p>
                        </div>
                    </div>
                </div>
                <div class="main__cards main__cards3">
                    <div class="main__img3">
                        <img src="img/projectimg.png" class="projectpict">
                        <div class="main__text3">
                            <p>Quisque!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>