/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0px auto;
}

.header {
    background-color: #363636;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   &__logo{
       padding: 20px 0 20px 20px;
   }

    &__navitems_titles {
        text-transform: uppercase;
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 60px;
        padding-top: 180px;
        padding-bottom: 21.5px;
    }

    &__article {
        width: 600px;
        text-align: center;
        padding-top: 21.5px;
        padding-bottom: 40px;

    }

    &__btn {
        margin-top: 40px;
        width: 215px;
        height: 55px;
        text-transform: uppercase;
        background-color: #404040;
        color: #fff;
        border: 1px solid #fff;
        margin-bottom: 200px;
    }

}

@media (min-width : 500px) and (max-width : 599px){
    .nav{
        width: 150px;
    }
    .header{
        &__title{
            font-size: 40px;
        }
        &__article{
            width: 350px;
        }
        &__wrapper{
            position: absolute;
            left: -500px;
        }
    }
}

@media (min-width : 600px) and (max-width : 999px){
    .nav{
        width: 600px;
    }
}

.nav {
    width: 1000px;
    background-color: #E74C3C;
    display: flex;
    justify-content: space-between;

    .navitems {
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width : 500px) and (max-width : 999px){
    .main{
        &__title3{
            width: 900px;
        }
    }
}
@media (min-width : 500px) and (max-width : 799px){
    .main{
        &__title3{
            width: 750px;
        }
    }
}
@media (min-width : 500px) and (max-width : 750px){
    .main{
        &__title3{
            width: 650px;
        }
    }
}
@media (min-width : 500px) and (max-width : 650px){
    .main{
        &__title3{
            width: 500px;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;

    &__container1 {
        display: flex;
        flex: 1 1 auto;
        margin: 80px 0px 80px 0px;
        align-items: flex-start;

    }



    &__articles {
        width: 480px;
        padding-right: 15px;
        flex: 1 1 auto;

    }

    &__titles {
        text-transform: uppercase;
        font-weight: bold;
        font-size: large;
        flex: 1 1 auto;
    }

    &__words {
        color: red;
        text-decoration: underline;

        &_title {
            text-decoration: none;
            color: red;
        }
    }

    &__row2 {
        background-color: #E74C3C;
    }

    &__title2 {
        color: #fff;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 60px;
        width: 400px;
    }

    &__container2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 30px 0px 30px 0px;
    }

    &__text2 {
        color: #fff;
        flex: 1 1 auto;
    }

    .cardwrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__cards {
        display: flex;
        padding: 0 15px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 235px;
        margin-bottom: 30px;
    }

    &__img2 {
        padding-bottom: 30px;
    }

    &__container3 {
        flex-direction: column;
    }

    &__title3 {
        display: flex;
        width: 1000px;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__cards3 {
        width: 220px;
        margin: 0 15px;
    }

    .projectpict {
        width: 225px;
    }

    &__text3 {
        text-align: start;
        margin-top: 10px;
    }
}

.footer {
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 40px 0;
        align-items: flex-start;
    }

    &__cards {
        margin: 0 10px;
        width: 230px;
        display: flex;
        flex-direction: column;

    }

    &__title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: large;
        margin-bottom: 15px;
        flex: 1 1 auto;

        &_secret {
            color: black;
            text-transform: uppercase;
            font-weight: bold;
            font-size: large;
            margin-bottom: 15px;
            flex: 1 1 auto;
        }
    }

    &__img {
        float: left;
        margin: 0px 10px 10px 0px;
    }

    &__text {
        font-size: 12px;
    }
    &__imgwrapper{
        margin: 45px 0px 0px 0px;
    }
    &__logo{
        padding-right: 10px;
    }
}

